body{
    
    font-family: poppins;
   background-color:  #F5F5F5;
}
.navbar
{
    
    width: 100%;
    height: 80px;
    /* background-color: antiquewhite; */
    background: rgba(255, 255, 255, 0.11);
    box-shadow: 0px 4px 12px rgb(164 164 164 / 12%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    

    
}
.searchbar
{
    padding-left: 20px;
    padding-right: 60px;
    height: 60%;
    width: 100%;
    background: #FFFFFF;
border: 1.5px solid #DDDDDD;
box-sizing: border-box;
border-radius: 11px;
}
.searchbarset
{
    display: flex;
    height: 100%;
    width: 20%;
    flex-direction: row;
    align-items: center;
}
.searchicon
{
    margin-left: -37;
}
.navemenuitem
{
    margin-left: 12px;
    margin-right: 12px;
}
.navemenuitemslist
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.bannersetion
{
    margin-top: 5px;
    width: 100%;
    height: 385px;
    background-color: antiquewhite;
}





/*************     specialmenu          *********************/
.specialmenusection{
    overflow-y: hidden;
    /* display: flex; */
    display: -webkit-inline-box;
    margin-top: 5px;
    width: 100%;
    height: 300px;
    background-color: #FFFFFF;
    align-items: center;
    
}
.specialmenusection::-webkit-scrollbar 
{
    display: none;
}

.titlecardofsm
{
    display: flex;
    height: 100%;
    width: 300px;
    background-color: #FFB14D;
    flex-direction: column;
    align-items: center;
    
}

.todaysspcialtext
{
   
    font-family: 'Poppins';
font-style: italic;
font-weight: 700;
font-size: 24px;
line-height: 51px;
/* identical to box height */


color: #FFFFFF;
}

.spmenuitembg
{
    border-radius: 20px;
    margin-left: 30px;
    display: flex;
    height: 250px;
    width: 400px;
    margin-top: 25px;
    background-color: #F6F6F6;
    flex-direction: row;
    align-items: center;
}

.spmenuimgcard
{
    margin-left: 25px;
    height: 189px;
    width: 143px;
    background-color: #643e0c;
    border-radius: 10px;
}

.spmenucarditems
{
    
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.spmenuitemname
{
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 24px;

}
.spmenuitemprice
{
    margin-top: 0;
    font-size: 14px;
}

.spmenuaddbutton
{
    margin-top: 25px;
    height: 44px;
    width: 108px;
    border: 0.729323px solid #E0E0E0;
    box-sizing: border-box;
    box-shadow: 0px 0px 17.5038px rgb(0 0 0 / 9%);
    border-radius: 8.02256px;
    color: #00A843;
}

.seperatorofmenuinhome
{
    margin-top: 20px;
    margin-bottom: 50px;
   width:100%;
 height: auto;
}

.iconmenu
{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.menubg
{
    
    margin-top: 5px;
    width: 100%;
    height: fit-content;
    padding-top: 30px;
    padding-bottom: 100px;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carticon
{
    margin-right: 60px;
}






.menucarditem
{
    
    margin-top: 4px;
    width: 90%;
    display: flex;
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #FFFFFF;
    flex-direction: row;
}
.menuiteminfo
{
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.menuname
{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;

}
.menuprice
{
    font-size: 12px;
    margin-top: 0;
}

.menuaddbutton
{
    margin-top: 25px;
    height: 50px;
    width: 150px;
    background: #F9F9F9;
    border: 0.729323px solid #E0E0E0;
    box-sizing: border-box;
    box-shadow: 0px 0px 17.5038px rgba(0, 0, 0, 0.09);
    border-radius: 8.02256px;
    font-size: 16px;
    font-weight: 500;
    color: #00A843;
}

.menuimgbg {
    border-radius: 9.4812px;
    position: absolute;
    /* background-color: #F7F7F7; */
    width: 16%;
    height: 20%;
    /* margin-left: 51%; */
    right: 15%;
}
.foodimg
{
    height: 100%;
    width: 100%;
   border-radius: 10px;
    object-fit: cover;
}



/***********************   DIET PAGE      ***************************/


.dietitems
{

    margin-top: 10px;
    height: fit-content;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.singledietitem
{
    background-color: #FFFFFF;
    width: 90%;
    padding-bottom: 70px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: 5px;

}

.decoratordietname
{

width: 35px;
height: 0px;

border: 3px solid #FA7F3A;
border-radius: 50px;
transform: rotate(-90deg);

}
.Diettitlename
{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 39px;
/* identical to box height */


color: #000000;
}
.diettitlefill
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Dietdescription
{
    width: 96%;
    margin-top: 0px;
    margin-left: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #000000;


}

.dietitemtopsection
{
    margin-top: 60px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 90%;
	align-self: center;
}
.dietitemnameoffood
{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 39px;
text-align: center;

color: #000000;

}

.dietitempriceoffood
{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 39px;
    text-align: center;
    
    color: #000000;
}




.dietitembottomsection
{
    margin-left: 8%;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.dietitemfooditem
{
    display: flex;
    background-color: rgb(246, 246, 246);
    width: 19%;
    margin-right: 1%;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}


.dietitemfoodimg
{
    width: 80%;
    height: 200px;
    background-color: #00A843;
    margin-top: 40px;
    border-radius: 15px;
}


.dietitemfoodname
{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 39px;
text-align: center;
margin-bottom: 0;
color: #000000;


}
.dietitemfoodcalories
{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 12px;
    color: #41a43e;
    margin-top: 0px;
   margin-bottom: 35px;
}
.dietitemfoodprice
{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    color: #757575;
    margin-top: 5px;
    margin-bottom: 0px;
}
.dietitemcostanddtocart
{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.dietfullcostofdiet {
    text-decoration: line-through;
    color: #9f9f9f;
    font-size: 12px;
    margin-bottom: 0;
}

.dietfullcostbeforeoffer{
    margin-top: 0;
    font-weight: 500;
}






















.bgloginimg
{    height: 722.44;
    position: absolute;
    right: 0;
    z-index: -1;
    top: 0;


}


.logoind
{
    position: absolute;
    margin-top: 30px;
    margin-left: 40px;

}

.logintext
{


    margin-top: 150px;
    width: 128px;
    margin-left: 100px;
    height: 71px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 71px;
    color: #6F6F6F;

}

.inputtext

{
margin-bottom: 0px;
width: 127px;
height: 31.22px;


font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 36px;

color: #383838;

}
.inputboxlogin{
   
    margin-top: 0px;
    width: 298px;
    height: 46.78px;
    background: #FFFFFF;
    border: 2px solid #C0C0C0;
    box-sizing: border-box;
    border-radius: 9px;
    padding-left: 20px;
    font-family: poppins;
    

}


.Loginbutoon{
  
    margin-top: 50px;
    width: 124px;
    height: 45px;
    left: 307px;
    top: 728px;
    border: none;
    
    background: #08C052;
    box-shadow: 13px 10px 15px rgba(4, 176, 73, 0.23);
    border-radius: 10px;
    margin-left:90px ;
}

.loginform{
    margin-left : 100;
}

.notreglregwaff
{
    margin-left : 60px;
    font-size: 14px;
    font-family: poppins;
    font-weight: 400;

}
bba
{
    font-weight: 600;
    color: #08C052;
}


/* **************** cart page  **************** */

.cartitemsingleitem
{
    margin-top: 10px;
    width: 70%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.cartaddeditemname
{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;

}
.cartaddeditemprice
{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
}

.cartaddeditemqyt
{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
}
orange
{
    color: #DB4F01;
}

.cartaddeditemsumprice
{
    font-size: 18px;
    color: #00A843;
    font-weight: 600;
}


.leftofcartitem
{
    margin-left: 10%;
}
.addsubtaractqyt
{
    display: flex;
}
.removeitembuttoincart
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.removeitemcarticon
{
    margin-left: 6px;
}

.removeitemtextofbutton
{
    font-size: 12px;
    font-weight: 500;
}
.removeitembuttoincart
{

    margin-top: 10px;
    width: 100%;
    height: 34%;
    background-color: #FFFFFF;
    border-radius: 6px;
    border: 1px solid #BABABA;
    /* padding-left: 10%; */
    /* padding-left: 0%; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.rightofcartitem
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10%;
}

.addlessbutton
{
   
height: 50px;
width: 50px;
color: #FFFFFF;
background: #2F2F2F;
border: 1.03808px solid #EEEEEE;
box-sizing: border-box;
border-radius: 10px;
}
.addaddlessbutton
{
    height: 50px;
width: 50px;
color: #FFFFFF;
background: #00A843;

border: 1.03808px solid #EEEEEE;
box-sizing: border-box;
border-radius: 10px;
}

.quantytydisplaybutton{
    width: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cartpagecartsection
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #F9F9F9;
    margin-top: 10px;
    padding-bottom: 40px;
}
.cartitemsselectedtoadd
{
    width: 100%;
    margin-top: 50px;
}

.cartbillsection

{    margin-top: 60px;
    margin-left: -24%;
    background: #ffffff;
    width: fit-content;
    padding-left: 4%;
    height: fit-content;
    padding-right: 4%;
    padding-bottom: 2%;
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.totalpriceofordertext
{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;


}
.totalpriceoforder
{
    font-size: 24px;
    font-weight: 600;
    /* margin-bottom: 0; */
    color: #00A843;
    margin-top: 0;
}
.proceedtopaymmentbutton
{
    background-color: #00A843;
    color: #ffffff;
    padding: 19px;
    border-radius: 5px;
    border: 0;
    font-weight: 500;

}



/* ****************************** empty cart ********************** */


.emptycartillustration
{
    height: 50%;
    width: 50%;
    

}
.emptycartillu{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.gotomenuincart
{
    margin-top: -10%;
    width: 10%;
    border: 0;
    height: 44px;
    background: #FA7F3A;
    border-radius: 12px;
    color: #ffffff;
    font-weight: 600;
}
.gotomenuincart:hover{
    margin-top: -10.1%;
    width: 10%;
    border: 0;
    height: 44px;
    background: #FA7F3A;
    border-radius: 12px;
    color: #ffffff;
    font-weight: 600;
    box-shadow: 0px 5px 11px rgba(255, 92, 0, 0.26);
    /* animation-duration: 4s; */
}


