{% load static %}



<body style="background-image: url('https://img.freepik.com/free-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-63452.jpg?w=1380&t=st=1670072697~exp=1670073297~hmac=a000aeda2ad34c11e947c1643192a4fd3164c7ee1be18fd4b3a9e9f2e04085ed') ;">

    <p><b><center style="font-size:30px;">Register Here</center></b></p>
    <div>
            <form action="" method="POST">
        <center>{% csrf_token %}

        {% for field in form %}
            <div >
                <p>{{ field.label }}: <br> {{ field }}</p>
            </div>
            <div>
                {% for error in field.errors %}
                    <small style="color: red">{{ error }}</small>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit">Register</button></center>

    </form>
    <p><center>have an account? <a href="{% url 'login' %}">Signin</a></center></p>
    </div>

</body>