{% extends 'pages/navbar.html' %}

{% load static %} 
<link rel="stylesheet" href="{% static 'css/main.css' %}">

{%block content%}
<body>
    
    <div class="menubgsearch">


        {% for food in foods %}
        <div class="menucarditem">
    
        <div class="menuiteminfo">  
            <div class="menuname">{{food.Food_name}}</div>
            <div class="menuprice">{{food.Food_price}}</div>
            <a href="{% url 'add_item' food.id %}">
                <button type="button" name="button" class="menuaddbutton">
                    Add+
                </button>
            </a><br>
            <div class="menuimgbg">
                <img class="foodimg" src="{{food.Image.url}}"/>
    
            </div>
            
        </div>
    
    </div>
    {% endfor %}
        
    </div>    

    
    
    
    

</body>
{%endblock%}